<footer>
  <p class="footer-text">
    Copyright &copy; Casey Page -
    <script>
      let footerText = document.querySelector('.footer-text');
      footerText.innerHTML =
        footerText.innerHTML + `${new Date().getFullYear()}`;
    </script>
  </p>
</footer>
