<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <%- include('../partials/header') %>
  <body>
    <h1 id="about-heading">About</h1>
    <p class="intro-text-3">A simplistic, easy to use weather app.</p>
    <p class="intro-text-2">
      Weather is a personal project that implements the
      <a
        class="about-link"
        href="https://openweathermap.org/api"
        target="_blank"
        >openweathermap</a
      >
      API, my first API project! This project was built using HTML, CSS,
      JavaScript, Node.JS, Express and EJS.
    </p>
    <p class="intro-text-2">
      Inspired by <strong>Roy Kibet's</strong> approach, discovered on
      section.io, which you can checkout
      <a
        class="about-link"
        href="https://www.section.io/engineering-education/create-a-weather-app-in-nodejs-using-openweathermap-api/"
        target="_blank"
        >here</a
      >.
    </p>
    <a
      id="wallpaper-link"
      href="https://wallpapercrafter.com/162022-artwork-sakura-%28tree%29-alone-isolation-minimalism-white.html"
      target="_blank"
      >- Background Image -</a
    >
    <%- include ('../partials/footer') %>
  </body>
</html>
